<h1>Listing All Subscriptions of <%= current_user.name %> </h1>
<table>
  <tr>
    <th>User ID</th>
    <th>Plan ID</th>
    <th colspan="2"></th>
  </tr>
 
  <% @user.subscriptions.each do |subscription| %>
   
      <tr>
        <td><%= subscription.user_id %></td>
        <td><%= subscription.plan_id %></td>
      </tr>
    
  <% end %>
</table>
<br>
<li><%= link_to 'Back', user_session_path %></li> 

