<% if current_user.admin? %>
<h1>New Plan</h1>

<%= render 'form', plan: @plan %>

<%= link_to 'Back', plans_path %>
<%else%>
<h1>You should be an admin to add new plans</h1>
<h4>click <%= link_to 'here', plans_path %> to go back</h4>
<%end%>
