
	<p>
	  <strong>Name:</strong>
	  <%= @feature.name %>
	</p>
	<p>
	<strong>Code:</strong>
	  <%= @feature.code %>
	</p>
	<strong>Unit Price:</strong>
	  <%= @feature.unit_price %>
	</p>
	<strong>Max Unit Limit:</strong>
	  <%= @feature.max_unit_limit %>
	</p>
